body {
    min-width: 300px;
    display: block;
    width: 100%;
}
h2 {
    color: #707070;
    font-family: "Calibri", sans-serif;
    font-size: 36px;
}
h3 {
    color: #707070;
    font-family: "YuGothic", sans-serif;
    font-size: 24px;
    margin-bottom: 40px;
}
p {
    color: #707070;
    font-family: "YuGothic", sans-serif;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 0;
}
.sp-hide {
    display: block;
}
.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}
.col-10{
    width: auto;
}
.position-relative {
    position: relative;
}
.position-relative ul {
    position: fixed;
}
.products-image {
    margin: 0 auto;
    max-width: 835px;
    width: 100%;
}
.oil-image {
    margin: 0 auto;
    width: 100%;
}
.headline-style {
    margin-bottom: 70px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-115 {
    margin-bottom: 115px;
}
.margin-bottom-150 {
    margin-bottom: 150px;
}
.min-height-120 {
    min-height: 120px;
}
.small {
    font-size: 11px;
}
.onlineshop-btn {
    border: 1px solid #707070;
    color: #707070;
    padding: 4px 20px;
    text-decoration: none;
}
.onlineshop-link {
    color: #b0b0b0;
    text-decoration: none;
}
.global-menu {
    list-style: none;
    overflow: hidden;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}
.global-menu li {
    float: left;
    text-align: center;
}
.global-menu li a {
    color: #000000;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}
.menu-logo {
    width: 100px;
}
.fv-logo{
    position: absolute;
    z-index: 999;
    height: 70px;
    width: 29%;
    right: 12%;
    top: -30%;
    bottom: 0;
    margin: auto;
}
.global-menu-shop-btn {
    padding-bottom: 1px;
}
.global-menu-shop-btn a {
    border: 1px solid #b0b0b0;
    font-size: 14px !important;
    padding-left: 10px;
    padding-right: 10px;
}
.origin-underline {
    display: inline-block;
    position: relative;
}
.origin-underline:before {
    content: ''; 
    position: absolute; 
    left: 50%; 
    bottom: -5px; /*下線の上下位置調整*/ 
    display: inline-block; 
    width: 26px; /*下線の幅*/ 
    height: 2px; /*下線の太さ*/ 
    -moz-transform: translateX(-50%); 
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); 
    transform: translate(-50%); /*位置調整*/ 
    background-color: #a50000; /*下線の色*/
}
.loveyou-logo {
    margin-bottom: 20px;
    width: 240px;
}
.story-block {
    margin-bottom: 60px;
}
.story-block p {
    margin-bottom: 25px;
}
.shop-info p {
    margin-bottom: 15px;
}
.sm-display-show {
    display: none;
}

.sec-3col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-3col__box {
    margin: 0 34px 0 0;
    flex: 1;  /* 各カラムの幅を均等に */
}
.sec-3col__box:last-child{
    margin: 0 0 0 0;
}
.sec-3col__img img {
    width: 100%;
}
img.img--round{
    border-radius: 50px;
}

.products__kvbox {
    position: relative;
}
.products__kvbox__img {
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    z-index: -999;
}
/* PC（幅が768px以上）のレイアウト */
@media (min-width: 768px) {
    .sec-3col {
        flex-direction: row; /* 横並びに */
    }

    .sec-3col__box {
        flex-basis: calc(33.333% - 68px); /* 各カラムが3分の1の幅 */
    }
}

/* スマホ（幅が768px未満）のレイアウト */
@media (max-width: 767px) {
    .sec-3col {
        flex-direction: column; /* 縦に並べる */
    }

    .sec-3col__box {
        flex-basis: 100%; /* 各カラムが100%の幅 */
        margin-bottom: 20px;
    }
}

/* スマホサイズ */
@media screen and (max-width: 499px) {
    /* img {
        min-width: 300px;
    } */
    .sp-hide {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .headline-style {
        margin-bottom: 40px;
    }
    .menu-logo {
        width: 100px;
        margin: 10px auto;
    }
    .menu-logo img {
        width: 100%;
    }
    .margin-bottom-115 {
        margin-bottom: 60px;
    }
    .margin-bottom-60 {
        margin-bottom: 20px;
    }
    .global-menu {
        display: none;
    }
    .carousel {
        width: 100vw;
        overflow-x: hidden;
    }
    .carousel-inner {
        position: relative;
        width: 240%;
    }
    .carousel-inner .d-block {
        position: relative;
        top: 0;
        right: 23%;
    }
    .carousel-inner-sm {
        position: relative;
        width: 100%;
    }
    .carousel-inner-sm .d-block {
        position: relative;
        top: 0;
    }
    .sm-display-none {
        display: none;
    }
    .sm-display-show {
        display: block;
    }
    .sm-margin-bottom-30 {
        margin-bottom: 30px;
    }
    .sm-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-left {
        text-align: left;
    }
    .story-block {
        margin-bottom: 30px;
    }
    .loveyou-logo {
        margin-bottom: 20px;
        width: 140px;
    }
}