body {
    min-width: 300px;
    display: block;
    width: 100%;
    overflow-x: hidden;
}
h2 {
    color: #707070;
    font-family: "Calibri", sans-serif;
    font-size: 36px;
}
h3 {
    color: #707070;
    font-family: "YuGothic", sans-serif;
    font-size: 32px;
    margin-bottom: 40px;
}
h4 {
    color: #707070;
    font-family: "YuGothic", sans-serif;
    font-size: 24px;
    margin-bottom:24px;
    line-height: 1.6;
}
p {
    color: #707070;
    font-family: "YuGothic", sans-serif;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: #707070;
    transition: 0.5s;
}
a:hover{
    color: #707070;
    opacity: 0.6;
    transition: 0.5s;
}

.sp-hide {
    display: block;
}
.row {
    margin-right: auto;
    margin-left: auto;
    max-width: 1080px;
}
.col-10{
    width: auto;
}
.position-relative {
    position: relative;
}
.position-relative ul {
    position: fixed;
}
.products-image {
    margin: 0 auto;
    max-width: 835px;
    width: 100%;
}
.oil-image {
    margin: 0 auto;
    width: 100%;
}
.headline-style {
    margin-bottom: 70px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-bottom-115 {
    margin-bottom: 115px;
}
.margin-bottom-150 {
    margin-bottom: 150px;
}
.min-height-120 {
    min-height: 120px;
}
.small {
    font-size: 11px;
}
.onlineshop-btn {
    border: 1px solid #707070;
    color: #707070;
    padding: 4px 20px;
    text-decoration: none;
}
.onlineshop-btn img {
    width: 24px;
}
.onlineshop-link {
    color: #b0b0b0;
    text-decoration: none;
}
.global-menu {
    list-style: none;
    overflow: hidden;
    z-index: 1000;
    margin-right: auto;
    margin-left: auto;
}
.global-menu li {
    float: left;
    text-align: center;
}
.global-menu li a {
    color: #000000;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}
.menu-logo {
    width: 100px;
}
.fv-logo{
    position: absolute;
    z-index: 999;
    height: 70px;
    width: 29%;
    right: 12%;
    top: -30%;
    bottom: 0;
    margin: auto;
}
.global-menu-shop-btn {
    padding-bottom: 1px;
}
.global-menu-shop-btn a {
    border: 1px solid #b0b0b0;
    font-size: 14px !important;
    padding-left: 10px;
    padding-right: 10px;
}
.origin-underline {
    display: inline-block;
    position: relative;
}
.origin-underline:before {
    content: ''; 
    position: absolute; 
    left: 50%; 
    bottom: -5px; /*下線の上下位置調整*/ 
    display: inline-block; 
    width: 26px; /*下線の幅*/ 
    height: 2px; /*下線の太さ*/ 
    -moz-transform: translateX(-50%); 
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%); 
    transform: translate(-50%); /*位置調整*/ 
    background-color: #a50000; /*下線の色*/
}
.loveyou-logo {
    margin-bottom: 20px;
    width: 240px;
}

.sec-story {
    position: relative;
}
.deco {
    position: absolute;
}
.anime {
    animation: floating-y 1.2s ease-in-out infinite alternate-reverse;
  }
  @keyframes floating-y {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }

.story-block {
    margin-bottom: 60px;
}
.story-block p {
    margin-bottom: 25px;
}
.shop-info p {
    margin-bottom: 15px;
}
.sm-display-show {
    display: none;
}

.sec-3col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sec-3col__box {
    margin: 0 34px 0 0;
    flex: 1;  /* 各カラムの幅を均等に */
    position: relative;
}
.sec-3col__box:last-child{
    margin: 0 0 0 0;
}

.sec-3col__img img {
    width: 100%;
}
.sec-3col__box h4 {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 24px;
}
.sec-3col__box p {
    width: 80%;
}
.sec-3col__box .arrow--more {
    position: absolute;
    right: 0;
    bottom: -20px;
}
img.img--round{
    border-radius: 50px;
}

.products__kvbox {
    position: relative;
}
#bdoil .products__kvbox {
    margin-bottom: 28%;
}
#brashorts .products__kvbox__cont {
    padding-bottom: 14%;
}
#leggings .products__kvbox__cont {
    padding-bottom: 100px;
}
.products__kvbox__cont{
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 150px;
    position: relative;
}
.products__kvbox__text{
    width: 45%;
    margin-left: 55%;
    padding-top: 15vw;
}
.products__kvbox__ttl{
    position: absolute;
    right: 0;
    top:0;
    width: 62%;
}
.products__kvbox__img {
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    z-index: -999;
}
#bdoil .products__kvbox__img {
    width: 52%;
}
.bdoil__tips {
    position: absolute;
    z-index: -9999;
    left: 0;
    right: 0;
    top: 32vw;
    margin: auto;
    width: 745px;
}
.bdoil__tips h4{
    display: inline-block;
    font-size: 24px;
    color: #fff;
    background: url(../image/deco_red_round.svg) no-repeat;
    width: 366px;
    padding: 216px 56px 70px 43px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    animation: floating-y--bdoil 2s ease-in-out infinite alternate-reverse;
}
@keyframes floating-y--bdoil {
    0% {
      transform: translateY(-3%);
    }
    100% {
      transform: translateY(3%);
    }
  }
.bdoil__tips h4 strong{
    font-size: 32px;
    font-weight: bold;
}
.bdoil__tips p{
    display: inline-block;
    color: #fff;
    background: url(../image/deco_pink_round.svg) no-repeat;
    width: 423px;
    padding: 107px 54px 92px 69px;
    position: absolute;
    top: 116px;
    right: 0;
    z-index: -1;
}
.products__kvbox__cotton {
    position: absolute;
    top: 47%;
    right: 0;
    width: 27%;
    z-index: -999;
}
.products__detail {
    display: flex;
    position: relative;
    align-items: flex-end;
}
.products__detail__text {
    width: 50%;
    padding-right: 50px;
}
.products__detail img{
    width: 50%;
    height: auto;
}
.products__tips {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F6E6D0;
    max-width: 864px;
    width: 97%;
    margin: auto;
    border-radius: 50px;
    position: relative;
}
.products__tips__try{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 132px;
}
.products__tips__text{
    width: 50%;
    padding: 54px 0 54px 54px;
}
.products__tips__text h4{
    margin-bottom: 12px;
}
.products__tips img.img--round {
    width: 38.6%;
    margin-right: 50px;
    height: auto;
}
.products__scrollimg {
    position: relative;
}
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-100%);
    }
}
.scroll-infinity__wrap {
    display: flex;
    overflow: hidden;
}
.scroll-infinity__list {
    display: flex;
    list-style: none;
    padding: 0
}
.scroll-infinity__list--left {
    animation: infinity-scroll-left 40s infinite linear 0.5s both;
}
.scroll-infinity__item {
    width: calc(100vw / 4);
    padding: 16px;
}
.scroll-infinity__item>img {
    width: 100%;
}
/* PC（幅が768px以上）のレイアウト */
@media (min-width: 768px) {
    .sec-3col {
        flex-direction: row; /* 横並びに */
    }

    .sec-3col__box {
        flex-basis: calc(33.333% - 68px); /* 各カラムが3分の1の幅 */
    }

    /*カラフル装飾*/
    .deco_pink_square {
        top:-40px;
        right: 80px;
        width: 90px;
    }
    .deco_yellow_triangle {
        top: 30px;
        right: -60px;
        width: 74px;
    }
    .deco_green_triangle {
        top: 120px;
        left: -20px;
        width: 74px;
    }
    .deco_navy_triangle {
        bottom: 150px;
        left: -90px;
        width: 74px;
    }
    .deco_ivory_square {
        bottom: 30px;
        right: -20px;
        width: 74px;
    }
    .deco_red_round {
        bottom: -50px;
        left: -30px;
        width: 125px;
        z-index: -999;
    }
    .sec-3col__box .deco_yellow_fanshape{
        top:100px;
        left: -40px;
        width: 74px;
    }
    .sec-3col__box .deco_red_round{
        top: 33%;
        left: auto;
        right: -40px;
        width: 102px;
        z-index: -999;
    }
    .sec-3col__box .deco_green_square{
        top: 20px;
        left: -20px;
        width: 50px;
    }
    .sec-3col__box .deco_ivory_round{
        top: -20px;
        left: auto;
        right: -20px;
        width: 102px;
        z-index: -999;
    }
    .sec-3col__box .deco_red_fanshape{
        top: 43%;
        left: -20px;
        width: 50px;
    }
    .sec-3col__box .deco_navy_round{
        top: 100px;
        right: -30px;
        width: 70px;
        z-index: -999;
    }
    .products__detail img.deco_yellow_fanshape{
        position: absolute;
        top: -50px;
        left: -80px;
        width: 70px;
    }
    .products__detail img.deco_navy_round{
        top: 100px;
        right: -80px;
        width: 70px;
        z-index: 1;
    }
    .products__detail img.deco_green_square{
        position: absolute;
        top: -10px;
        right: 520px;
        width: 50px;
        rotate: 60deg;
    }
    .products__detail img.deco_pink_square{
        position: absolute;
        top: auto;
        bottom: 30px;
        left: -80px;
        width: 60px;
    }
    .products__detail img.deco_navy_triangle{
        position: absolute;
        bottom: -50px;
        left: -10px;
        width: 50px;
        rotate: 15deg;
    }
    .products__detail img.deco_ivory_round{
        bottom: -10px;
        right: -80px;
        width: 200px;
        z-index: -999;
    }
    .products__kvbox img.deco_yellow_fanshape{
        position: absolute;
        top: auto;
        bottom: 0px;
        left: auto;
        right: 290px;
        width: 60px;
        z-index: 1;
    }
    .products__kvbox img.deco_green_square{
        position: absolute;
        top: auto;
        bottom: -50px;
        left: auto;
        right: 200px;
        width: 45px;
        rotate: 45deg;
        z-index: 1;
    }
    .products__kvbox img.deco_ivory_fanshape{
        position: absolute;
        top: auto;
        bottom: -260px;
        left: 20px;
        right: auto;
        width: 50px;
        z-index: 1;
    }
    .products__scrollimg img.deco_navy_fanshape{
        position: absolute;
        top: -20px;
        bottom: auto;
        left: 250px;
        right: auto;
        width: 50px;
        z-index: 1;
    }
    .products__scrollimg img.deco_yellow_square{
        position: absolute;
        top: auto;
        bottom: -10px;
        left: 470px;
        right: auto;
        width: 50px;
        z-index: 1;
    }
    .products__scrollimg img.deco_pink_round{
        position: absolute;
        top: -40px;
        bottom: auto;
        left: auto;
        right: 100px;
        width: 150px;
        z-index: -999;
    }
    #leggings .products__kvbox img.deco_ivory_fanshape{
        position: absolute;
        top: auto;
        bottom: 0px;
        left: auto;
        right: -40px;
        width: 190px;
        z-index: -999;

    }
    #brashorts .products__detail img.deco_navy_triangle{
        position: absolute;
        top: -10px;
        bottom: auto;
        left: auto;
        right: 100px;
        width: 50px;
        rotate: 15deg;
    }
    #brashorts .products__detail img.deco_red_triangle{
        position: absolute;
        top: auto;
        bottom: 50px;
        left: auto;
        right: 47%;
        width: 50px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_pink_round{
        position: absolute;
        top: -40px;
        bottom: auto;
        left: -60px;
        right: auto;
        width: 50px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_ivory_square{
        position: absolute;
        top: auto;
        bottom: 50px;
        left: auto;
        right: 47%;
        width: 50px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_green_round{
        position: absolute;
        top: auto;
        bottom: 50px;
        left: auto;
        right: -30px;
        width: 50px;
        rotate: 0deg;
    }
}

/* スマホ（幅が768px未満）のレイアウト */
@media (max-width: 767px) {
    h3 {
        margin-bottom: 24px;
    }
    h4 {
        font-size: 20px;
    }
    .sec-3col {
        flex-direction: unset; /* 縦に並べる */
    }

    .sec-3col__box {
        flex-basis: 100%; /* 各カラムが100%の幅 */
        margin: 0 0 60px 0;
    }
    .sec-3col__box h4{
        font-size: 20px;
    }
    .sec-3col__box .arrow--more {
        bottom: 0;
    }
    .products__kvbox__cont{
        max-width: 1080px;
        margin: 0 12px;
        position: relative;
        padding-bottom: 0;
    }
    #brashorts .products__kvbox__cont {
        padding-bottom: 0;
    }
    #leggings .products__kvbox__cont {
        padding-bottom: 0;
    }
    .products__kvbox__text{
        width: 100%;
        margin-left: 0;
        padding-top: 0;
    }
    .products__kvbox__ttl{
        position: relative;
        right: 0;
        top:0;
        width: 100%;
    }
    .products__kvbox__text h3{
        margin-top: -10px;
        font-size: 24px;
    }
    #bdoil .products__kvbox {
        margin-bottom: 30%;
    }
    .products__kvbox__img,
    #bdoil .products__kvbox__img {
        position: relative;
        width: 97%;
        z-index: -999;
    }
    .products__detail {
        display: block;
        margin-bottom: 60px !important;
    }
    .products__detail:last-child{
        margin-bottom: 30px !important;
    }
    .products__detail__text {
        width: 100%;
        padding-right: 0;
    }
    .products__detail img{
        width: 100%;
        height: auto;
    }
    .bdoil__tips {
        position: relative;
        top: 0;
        margin: -48% auto 0;
        width: 100%;
    }
    .bdoil__tips h4{
        display: block;
        font-size: 16px;
        color: #fff;
        background: url(../image/deco_red_round.svg) no-repeat;
        background-size: contain;
        width: auto;
        padding: 50% 54px 50px 54px;
        margin-left: -10%;
        position: relative;
        z-index: 0;
    }
    .bdoil__tips h4 strong{
        font-size: 24px;
        font-weight: bold;
    }
    .bdoil__tips p{
        display: block;
        float: right;
        color: #fff;
        background: url(../image/deco_pink_round.svg) no-repeat;
        background-size: contain;
        width: 95%;
        padding: 25% 13.5% 30.6% 14.2%;
        margin: -55% 0 0 0px;
        position: relative;
        z-index: -1;
    }
    .bdoil__tips::after{
        content:'';
        display: block; 
        clear:both;
    }
    .products__tips {
        display: block;
        align-items: center;
        justify-content: space-around;
        background-color: #F6E6D0;
        max-width: 864px;
        width: 90%;
        margin: 40px auto 0;
        border-radius: 50px;
    }
    .products__tips__try{
        position: absolute;
        top: -50px;
        left: -16px;
        width: 98px;
    }
    .products__tips__text{
        width: 100%;
        padding: 40px 40px 0 40px;
    }
    .products__tips img.img--round {
        width: 100%;
        margin-right: 0;
        padding: 40px;
        height: fit-content;
    }
    .products__kvbox__cotton {
        position: absolute;
        top: auto;
        bottom: -10%;
        right: 0;
        width: 50%;
        z-index: -999;
    }
    .scroll-infinity__list--left {
        animation: infinity-scroll-left 40s infinite linear 0.5s both;
    }
    .scroll-infinity__item {
        width: calc(100vw / 2);
        padding: 10px;
    }

    /*カラフル装飾*/
    .deco_pink_square {
        top:-20px;
        right: 30px;
        width: 60px;
    }
    .deco_yellow_triangle {
        top: 30px;
        right: 0px;
        width: 50px;
    }
    .deco_green_triangle {
        top: 70px;
        left: 40px;
        width: 50px;
    }
    .deco_navy_triangle {
        top: 300px;
        bottom: auto;
        left: -10px;
        width: 50px;
    }
    .deco_ivory_square {
        bottom: -20px;
        right: 0;
        width: 60px;
    }
    .deco_red_round {
        top: 40%;
        bottom: auto;
        left: -30px;
        width: 100px;
        z-index: -999;
    }
    .sec-3col__box .deco_yellow_fanshape{
        top: 110px;
        left: -10px;
        width: 36px;
    }
    .sec-3col__box .deco_red_round{
        top: 62%;
        left: auto;
        right: -4px;
        width: 62px;
        z-index: -999;
    }
    .sec-3col__box .deco_green_square{
        top: 80px;
        left: -8px;
        width: 30px;
    }
    .sec-3col__box .deco_ivory_round{
        top: -30px;
        left: auto;
        right: -8px;
        width: 70px;
        z-index: -999;
    }
    .sec-3col__box .deco_red_fanshape{
        top: 50%;
        left: -10px;
        width: 30px;
    }
    .sec-3col__box .deco_navy_round{
        top: 20%;
        right: -6px;
        width: 30px;
        z-index: 1;
    }
    .products__detail img.deco_yellow_fanshape{
        position: absolute;
        top: -90px;
        left: 30px;
        width: 36px;
    }
    .products__detail img.deco_navy_round{
        top: -50px;
        right: 4px;
        width: 30px;
        z-index: 1;
    }
    .products__detail img.deco_green_square{
        position: absolute;
        top: -10px;
        right: 520px;
        width: 50px;
        rotate: 60deg;
    }
    .products__detail img.deco_pink_square{
        position: absolute;
        top: auto;
        bottom: 50px;
        left: 0;
        width: 34px;   
    }
    .products__detail img.deco_navy_triangle{
        position: absolute;
        top: auto;
        bottom: -30px;
        left: 10px;
        width: 30px;
        rotate: 15deg;
    }
    .products__detail img.deco_ivory_round{
        bottom: -30px;
        right: 0;
        width: 90px;
        z-index: -999;
    }
    .products__kvbox img.deco_yellow_fanshape{
        position: absolute;
        top: auto;
        bottom: 0px;
        left: auto;
        right: 290px;
        width: 60px;
        z-index: 1;
    }
    .products__kvbox img.deco_green_square{
        position: absolute;
        top: auto;
        bottom: -50px;
        left: auto;
        right: 200px;
        width: 45px;
        rotate: 45deg;
        z-index: 1;
    }
    .products__kvbox img.deco_ivory_fanshape{
        position: absolute;
        top: auto;
        bottom: -260px;
        left: 20px;
        right: auto;
        width: 50px;
        z-index: 1;
    }
    .products__scrollimg img.deco_navy_fanshape{
        position: absolute;
        top: -10px;
        bottom: auto;
        left: 18%;
        right: auto;
        width: 30px;
        z-index: 1;
    }
    .products__scrollimg img.deco_yellow_square{
        position: absolute;
        top: auto;
        bottom: 0px;
        left: 7%;
        right: auto;
        width: 34px;
        z-index: 1;
    }
    .products__scrollimg img.deco_pink_round{
        position: absolute;
        top: -8px;
        bottom: auto;
        left: auto;
        right: 30px;
        width: 70px;
        z-index: -999;
    }
    #leggings .products__kvbox img.deco_ivory_fanshape{
        position: absolute;
        top: auto;
        bottom: 20px;
        left: auto;
        right: 0;
        width: 80px;
        z-index: -9999;
    }
    #brashorts .products__detail img.deco_navy_triangle{
        position: absolute;
        top: auto;
        bottom: 39%;
        left: auto;
        right: 80px;
        width: 30px;
        rotate: 15deg;
    }
    #brashorts .products__detail img.deco_red_triangle{
        position: absolute;
        top: auto;
        bottom: 50px;
        left: 4px;
        right: auto;
        width: 30px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_pink_round{
        position: absolute;
        top: -40px;
        bottom: auto;
        left: -60px;
        right: auto;
        width: 50px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_ivory_square{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 8px;
        right: auto;
        width: 40px;
        rotate: 0deg;
    }
    #brashorts .products__detail img.deco_green_round{
        position: absolute;
        top: auto;
        bottom: 26%;
        left: auto;
        right: 0;
        width: 30px;
        rotate: 0deg;
    }
}

/* スマホサイズ */
@media screen and (max-width: 499px) {
    /* img {
        min-width: 300px;
    } */
    .sp-hide {
        display: none;
    }
    p {
        font-size: 14px;
    }
    .headline-style {
        margin-bottom: 40px;
    }
    .menu-logo {
        width: 100px;
        margin: 10px auto;
    }
    .menu-logo img {
        width: 100%;
    }
    .margin-bottom-115 {
        margin-bottom: 60px;
    }
    .margin-bottom-60 {
        margin-bottom: 20px;
    }
    .global-menu {
        display: none;
    }
    .carousel {
        width: 100vw;
        overflow-x: hidden;
    }
    .carousel-inner {
        position: relative;
        width: 240%;
    }
    .carousel-inner .d-block {
        position: relative;
        top: 0;
        right: 23%;
    }
    .carousel-inner-sm {
        position: relative;
        width: 100%;
    }
    .carousel-inner-sm .d-block {
        position: relative;
        top: 0;
    }
    .sm-display-none {
        display: none;
    }
    .sm-display-show {
        display: block;
    }
    .sm-margin-bottom-30 {
        margin-bottom: 30px;
    }
    .sm-margin-bottom-50 {
        margin-bottom: 50px;
    }
    .sm-text-center {
        text-align: center;
    }
    .sm-text-left {
        text-align: left;
    }
    .story-block {
        margin-bottom: 30px;
    }
    .loveyou-logo {
        margin-bottom: 20px;
        width: 140px;
    }
}